@use "../../styles/variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-family-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
