.textqueans {
    display: flex;
    width: 100%;
    height: auto;
    gap: 8px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    border-radius: 8px;
    background-color: #ffffff;
  }
  .text-qa-right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .qa-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin:2px; */
  }
  .qa-drag-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 1rem;
    cursor: pointer;
  }
  .qa-selector {
    gap: 4px;
    border-radius: 8px;
    border-width: 1px;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    margin-bottom: 1rem;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    /* leading-trim: Cap height; */
    line-height: 32px;
    letter-spacing: 0%;
    color: #808080;
  }
  .qa-delete{
      cursor: pointer;
      z-index: 16;
  }
  .qa-input p {
    text-align: start;
    margin-bottom: 0.5rem;
    color: #808080;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .error-message{
    color: red;
    list-style: none;
    font-weight: 380;
    font-size: 14px;
  }
  .qa-input {
    margin-bottom: 1rem;
  }
  .qa-input input {
    font-size: 1rem;
    width: 100%;
    height: 65%;
    gap: 4px;
    border-radius: 8px;
    border-width: 1px;
    padding: 16px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    /* // On click
  // Navigate to: "None";
  // Animate: Dissolve;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms; */
  }

  
.qa-multi {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
  background-color: #ffffff;
}
.qa-multi-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.qa-multi-label {
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0%;
  color: #333333;
}
.qa-multi-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  gap: 4px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 71px;
  border-width: 1px;
  color: #808080;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}
.qa-multi-correct{
  display: flex;
  justify-content: center;
  /* justify-content: center; */
  align-items: center;
  width: 20%;
  height: auto;
  /* gap: 4px; */
  padding-top: 8px;
  /* padding-right: 16px; */
  padding-bottom: 8px;
  padding-left: 6%;
  border-radius: 71px;
  border-width: 1px;
  color: #808080;
  margin-right: 0px;
  /* border: 1px solid #e8e8e8; */
}
/* Remove bottom border before the Select is focused */
.css-1hzw0ty-MuiInputBase-root-MuiInput-root-MuiSelect-root::before {
    border-bottom: 1px solid red !important; /* Remove the bottom border */
}

/* Remove the bottom border after the Select is focused */
.css-1hzw0ty-MuiInputBase-root-MuiInput-root-MuiSelect-root.Mui-focused::after {
    border-bottom: none !important; /* Remove the bottom border */
}
