/* Container to handle layout */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  /* Header styling */
  .manage-heading {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content */
    position: relative; /* Needed for absolute positioning */
    border: 1px solid #e8e8e8;
    padding: 8px 16px;
    background-color: #f8f8f8;
    flex-shrink: 0;
  }
  .close-manage {
    position: absolute;
    left: 16px; /* Adjust spacing from the left */
  }
  
  /* Category body (scrollable) */
  .category-body {
    flex-grow: 1; /* Takes available space */
    overflow-y: auto; /* Makes it scrollable */
    padding: 24px;
    background-color: #e8e8e8;
    gap: 24px;
  }
  
  /* Category heading */
  .category-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e8e8e8;
    padding: 8px 16px;
    gap: 4px;
  }
  
  .category-heading-text {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0%;
    color: #333333;
  }
  
  /* Add new category button */
  .manage-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    font-size: 14px;
    color: #808080;
    border: 1px solid #e8e8e8;
    border-radius: 63px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: 48px;
  }
  
  .manage-btn:hover {
    background-color: #dcdcdc;
  }
  
  /* Icon */
  .icon {
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
    color: #808080;
  }
  
  /* Sticky footer */
  .manage-category-footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px 12px;
    gap: 16px;
    background: white;
    border-top: 1px solid #e8e8e8;
    position: sticky;
    bottom: 0;
    z-index: 10;
  }
  