$primary-color: #ffffff;
$secondary-color: #f04141;
$description-color-one: #1e1e1e;
$description-color-two: #676767;
$contact-us-form-bgcolor: #f041411a;
$contact-us-form-color: #025f3d;
$footer-color: #a4a4a4;

$font-family-inter: "Inter", sans-serif;
